// Main Scss file

// helpers
@import 'helpers/mixins';
@import 'helpers/variables';

/* entypo icons */
[class*="entypo-"]:before { font: 1.5rem 'entypo', sans-serif }

* {
  margin    : 0;
  padding   : 0;
  color     : inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  font-style : normal;
  font-family: 'neutraText', sans-serif;
}

body {
  width      : 80vw;
  margin     : auto;
  font-size  : 16px;
  line-height: 1.5rem;
  margin-bottom   : 50pt;
  background-color: $white;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);

  @include min800 {
    margin-top:  105px;
    margin-bottom: 0;
  }
}

p {
  text-align: left;
  max-width: 70ch;
  width: 100%;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.overlay{
  @include size(100vw, 100vh);
  background:  rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left: 0;
  z-index: 20;
}

.avoid-scroll{
  overflow:hidden;
}

//modules
@import 'modules/header';
@import 'modules/home';
@import 'modules/products';
@import 'modules/productItem';
@import 'modules/images';
@import 'modules/contact';
@import 'modules/footer';
