/* entypo icons */
[class*="entypo-"]:before {
  font: 1.5rem 'entypo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-family: 'neutraText', sans-serif;
}

body {
  width: 80vw;
  margin: auto;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 50pt;
  background-color: white;
}

@media only screen and (min-width: 800px) {
  body {
    margin-bottom: auto;
  }
}

p {
  text-align: left;
  max-width: 70ch;
  width: 100%;
}

#main {
  margin-bottom: 60pt;
}

.header-nav {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60pt;
  z-index: 99;
  color: white;
  position: fixed;
  text-transform: uppercase;
  background-color: #637d37;
  box-shadow: 0 -1px 10px -5px #0f1308;
  font: bold .75rem/normal 'neutraText', sans-serif;
}

@media only screen and (min-width: 800px) {
  .header-nav {
    top: 30px;
    color: #637d37;
    font-size: 1rem;
    background: white;
    box-shadow: initial;
    height: 75px;
    box-shadow: 0 1px 10px -5px #0f1308;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: transform;
  }
  .header-nav [class*="entypo-"] {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .scroll {
    transform: translateY(-30px);
  }
}

.lang {
  position: fixed;
  background-color: #c6d9a8;
  color: #0f1308;
  font-weight: bold;
  bottom: 60pt;
  right: 20px;
  width: 60pt;
  height: 30pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: none;
  font-size: 1rem;
  z-index: 10;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
}

.lang-scroll {
  transform: translateY(30pt);
}

@media only screen and (min-width: 800px) {
  .lang {
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 30px;
    background-color: #d4d5d6;
    text-transform: inherit;
    font-size: .8rem;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .lang-scroll {
    transform: translateY(-30px);
  }
}

.lang div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .lang div {
    width: auto;
    height: 100%;
  }
}

.lang .hide {
  display: none;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  margin: 0 10px;
}

.nav-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: color;
}

@media only screen and (min-width: 800px) {
  .nav-link {
    margin: 0 20px;
  }
}

.nav-link:hover, .nav-link:active {
  color: #0f1308;
}

.nav-link span {
  margin-top: 10px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  min-width: 300px;
}

.nav-link-container:first-of-type {
  justify-content: flex-end;
}

.nav-link-container:last-of-type {
  justify-content: flex-start;
}

.logo {
  display: none;
  z-index: 99;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: flex-start;
  background: white;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: all;
}

.logo svg {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .logo {
    display: inherit;
  }
}

.scroll-logo {
  transform: translateY(-70px);
  background: transparent;
}

.scroll-logo svg > * {
  opacity: 0;
}

.scroll-logo .cls-2 {
  opacity: 1;
}

.on-page {
  color: #0f1308;
}

.hero {
  height: 500px;
  display: flex;
  overflow: hidden;
  max-height: 75vw;
  align-items: center;
  width: 100vw;
  margin: 0 -10vw;
  justify-content: center;
  background-color: #d4d5d6;
}

.hero img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.about {
  margin: 30px auto 0 auto;
  padding-bottom: 50px;
  max-width: 980px;
}

.about img {
  max-height: 150px;
}

.intro {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .intro {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .intro .text {
    width: calc(50% - 20px);
  }
}

.intro .text h1 {
  margin-top: 30px;
}

.intro p {
  margin-top: 10px;
}

.intro p:not(:first-of-type) {
  margin-top: 1.5rem;
}

.products {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  .products {
    width: 100%;
    margin-bottom: 0;
    flex-direction: row;
    height: calc(100vh - (150px * 1.5));
    margin-top: 75px;
    justify-content: space-between;
  }
}

.products .svg-microgreens {
  background-image: url("../svg/microgreens.svg");
}

.products .svg-flowers {
  background-image: url("../svg/flores.svg");
}

.products .svg-veggy {
  background-image: url("../svg/vegetables.svg");
}

.products [class*="svg-"] {
  margin: 10px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-size: cover;
  width: 250px;
  height: 250px;
  transition-property: background-color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: background-color;
}

.products [class*="svg-"]:hover, .products [class*="svg-"]:active {
  background-color: #c6d9a8;
}

@media only screen and (min-width: 800px) {
  .products [class*="svg-"] {
    width: calc((80vw - 60px)/3);
    height: calc((80vw - 60px)/3);
  }
}

.products [class*="svg-"] h2 {
  color: #637d37;
  margin: 0 -5px;
  padding: 20px 0;
  width: calc(100% + 10px);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}

.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: #637d37;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  .product-page {
    margin-top: 200px;
  }
}

.product-page p {
  text-transform: none;
}

.product-page-title {
  margin-bottom: 20px;
}

.product-list {
  width: 100%;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-item {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 200px 40px;
  cursor: pointer;
}

.product-item img, .product-item h3 {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.details {
  display: none;
}

.show {
  display: inherit;
}

.images-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: #637d37;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  .images-page {
    margin-top: 200px;
  }
}

.images-page p {
  text-transform: none;
}

.images-page-title {
  margin-bottom: 20px;
}

.images-list {
  width: 100%;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.images-list div {
  width: 100%;
  height: 100%;
}

.images-list div.landscape {
  grid-column-end: span 2;
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .images-list div.landscape {
    grid-column-end: auto;
  }
}

.images-list div.portrait {
  grid-row-end: span 2;
  height: 510px;
}

.images-list div.square {
  height: 250px;
}

.images-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-contact {
  width: 100%;
  height: 75vh;
  background-color: #637d37;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: -75vh;
  left: 0;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: all;
  padding: 20px;
  padding-top: 40px;
  text-transform: none;
  font-size: 1rem;
}

.slider-address {
  font-style: normal;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}

.slider-address-image {
  width: 150px;
  height: 150px;
  background-color: #d4d5d6;
  border-radius: 50%;
}

.slider-address-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide {
  transform: translateY(-75vh);
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: color;
}

.exit:hover, .exit:active {
  color: #0f1308;
}

.contact-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  font-size: 1rem;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #d4d5d6;
}

textarea {
  min-height: 100px;
  max-width: 100%;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  margin: 10px 0;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #d4d5d6;
  border: none;
}

#map {
  height: 500px;
  overflow: hidden;
  max-height: 75vw;
  width: 100vw;
  margin: 0 -10vw;
  background-color: #d4d5d6;
}

footer {
  display: none;
}

@media only screen and (min-width: 800px) {
  footer {
    height: auto;
    display: flex;
    width: 100vw;
    margin: 0 -10vw;
    align-items: center;
    justify-content: center;
    background-color: #d4d5d6;
    padding: 30px 0;
  }
}

footer address {
  width: 100%;
}

footer address:first-of-type {
  margin-right: 40px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80vw;
  max-width: 980px;
}

.icons {
  margin-top: 15px;
}

.social {
  margin-right: 10px;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: color;
}

.social:hover, .social:active {
  color: #c6d9a8;
}
