// Main Scss file

// helpers
@import 'helpers/mixins';
@import 'helpers/variables';

/* entypo icons */
[class*="entypo-"]:before { font: 1.5rem 'entypo', sans-serif }

* {
  margin    : 0;
  padding   : 0;
  color     : inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'neutraText', sans-serif;
}

body {
  width      : 80vw;
  margin     : auto;
  font-size  : 16px;
  line-height: 1.5rem;
  margin-bottom   : 50pt;
  background-color: $white;

  @include min800 {
    margin-bottom: auto;
  }
}

p {
  text-align: left;
  max-width: 70ch;
}

//modules
@import 'modules/header';
@import 'modules/home';
@import 'modules/products';
@import 'modules/images';
@import 'modules/contact';
@import 'modules/footer';
