// main:../style.scss
// colors
$yellow  : #dece25;

$green   : #637d37;
$green40 : lighten($green, 40);
$green80 : darken($green, 20);
$black   : darken($green, 30);

$grey    : desaturate($green, 99%);
$grey50  : lighten($grey, 50);
$white   : lighten($grey, 99);

// dimensions
$logoDia          :  150px;
$productHeight    :  calc(100vh - 50pt - #{$logoDia});
$altProductHeight :  calc(100vh - (#{$logoDia} * 1.5));
$navBar           :  60pt;
