// main:../style.scss
// colors
$yellow  : #dece25;
$green   : #637d37;
$green40 : lighten($green, 40);
$grey    : #6D6E71;
$grey40  : lighten($grey, 40);
$black   : darken($green, 30);
$white   : white;

// dimensions
$logoDia          :  150px;
$productHeight    :  calc(100vh - 50pt - #{$logoDia});
$altProductHeight :  calc(100vh - (#{$logoDia} * 1.5));
$navBar           :  60pt;
