// main:../style.scss

//slider styles
.slider {
  &-contact {
    @include size(100%, auto);
    background-color: $green;
    border-top-left-radius:   10px;
    border-top-right-radius:  10px;
    position:         fixed;
    bottom:           0;
    left:             0;
    transform: translateY(200vh);
    @include transition;
    padding:          20px;
    padding-top:      40px;
    text-transform:   none;
    font-size:        1rem;
  }

  &-address {
    font-style:       normal;
    margin-bottom:    30px;
    display:          flex;
    flex-direction:   row;
    @include size(100%, auto);

    &-image {
      @include size(150px, auto);
      background-color:       $grey50;
      border-radius:          50%;
    }

    &-info {
      width:          100%;
      display:        flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-icons{
      display:        flex;
      align-items:    center;
      justify-content: space-between;
      width:          100%;
      text-align:     center;
      background-color: darken($green, 5);
      border-radius:  4px;
    }

    &-icons a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }
}

.slide {
  transform: translateY(0);
  * > {width: 100%}

  a {
    width: 100%;
    line-height: 40px;
    &:hover{ color: $green80}
  }

  button {
    background-color: darken($green, 5)!important;
    width: 100%!important;
  }
}


.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  @include transition(color);

  &:hover, &:active {
    color: $black;
  }
}

//contact page styles
.contact-form {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 980px;
  margin: auto;
}

input, textarea {
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $grey50;
  min-width: 100%;
  outline: none;
  border-radius: 2px;
  &:active, &:focus{
    border-color: $green;
  }
}

textarea {
  min-height: 100px;
  width: 980px;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px 8px;
  margin: 10px 0;
  color: $white;
  @include size(100px, 45px);
  border-radius: 25px;
  background-color: $green;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: darken($green, 5);
  }
}

#map {
  height     : 500px ;
  overflow   : hidden;
  max-height : 75vw  ;
  @include full-page ;
  background-color: $grey50;
}
