// main:../style.scss


footer {
  display: none;

  @include min800{
    height  : $logoDia;
    display : flex;
    @include full-page;

    align-items     : center;
    justify-content : center;
    background-color: $grey ;

  }

}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  & > * {
    margin: 0 20px;
  }
}
.social {
  margin: 15px;
  @include transition(color);
  &:hover, &:active {
    color: $green40;
  }
}
