// main:../style.scss


footer {
  display: none;
  @include min800{
    height  : auto;
    display : flex;
    @include full-page;
    align-items     : center;
    justify-content : center;
    background-color: $grey50 ;
    padding: 60px 0;
  }
   h3      { margin-bottom: 10px;}
  .location{ margin-top   : 15px;}

  address{
    width: 100%;
    &:first-of-type{margin-right: 40px;}
  }

  a:hover{
    cursor: pointer;
    color: $green;
  }

}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80vw;
  max-width: 980px;
}

.icons{margin-top: 15px}

.social {
  margin-right: 10px;
  @include transition(color);
  transition-duration: 200ms;
  &:hover, &:active {
    color: $green;
  }
}
