// main:../style.scss


footer {
  display: none;
  @include min800{
    height  : auto;
    display : flex;
    @include full-page;
    align-items     : center;
    justify-content : center;
    background-color: $grey40 ;
    padding: 30px 0;
  }

  address{
    width: 100%;
    &:first-of-type{margin-right: 40px;}
  }
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80vw;
  max-width: 980px;
}

.icons{margin-top: 15px}

.social {
  margin-right: 10px;
  @include transition(color);
  &:hover, &:active {
    color: $green40;
  }
}
