// main:../style.scss
.header-nav {
  left    : 0;
  bottom  : 0;
  @include size(100%, $navBar);
  z-index : 99;
  color   : $white;
  position: fixed;
  text-transform  : uppercase;
  background-color: $green;
  box-shadow      : 0 -1px 10px -5px $black;
  font: bold 0.75rem/normal 'neutraText', sans-serif;

  @include min800 {
    top       : 30px;
    color     : $green ;
    font-size : 1rem   ;
    background: $white ;
    box-shadow: initial;
    height    : $logoDia / 2;
    [class*="entypo-"] {display: none}
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.1);
    @include transition(transform);
  }
}
.scroll {
  @include min800 {
    transform: translateY(-30px);
  }
}

.lang {
  position: fixed;
  background-color: $green40;
  color: $black;
  font-weight: bold;
  bottom: $navBar;
  right: 20px;
  @include size(60pt, 30pt)
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: none;
  font-size: 1rem;
  z-index: 10;
  @include transition(transform);
  &-scroll {
    transform: translateY(30pt);
  }
  @include min800 {
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 0;
    @include size(100%, 30px);
    background-color: $grey50;
    text-transform: inherit;
    font-size: .8rem;
    justify-content: flex-end;
    padding-right: 20px;
    &-scroll {
      transform: translateY(-30px);
    }
  }

  div {
    cursor: pointer;
    @include size(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include min800{
      @include size(auto, 100%)
    }
  }
  .hide {
    display: none;
  }
}

.nav {
  height : 100%;
  display: flex;
  align-items    : center;
  justify-content: center;

  a {
    margin: 0 10px;
  }

  &-link {
    height : 100%;
    display: flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    @include transition(color);

    @include min800 {
      margin: 0 20px;
    }
    &:hover, &:active {
      color: $green80;
    }
    span {
      line-height: 1.5;
      margin-top: 10px;
    }

    &-container {
      display: flex;
      flex-direction: row;
      min-width: 300px;

      &:first-of-type {
        justify-content: flex-end;
      }
      &:last-of-type {
        justify-content: flex-start;
      }
    }
  }
}

.logo {
  display: none;
  z-index: 99;
  @include size ($logoDia, $logoDia);
  flex-shrink  : 0;
  border-radius: 50%;
  align-self   : flex-start;
  background   : $white;
  position: relative;
  @include transition;

  svg { width: 100%}

  @include min800 {
    display: inherit;
  }

  &:before{
    @include transition(opacity);
    transition-delay: 200ms;
    content: '';
    width: 100%;
    height: 50%;
    left: 0.5px;
    top:50%;
    box-shadow: 0 -2px 14px 2px rgba(0,0,0,0.2);
    position: absolute;
    border-radius: 0 0 40pc 40pc;
    z-index: -1;
  }
}

.scroll-logo{
  transform: translateY(-70px);
  background: transparent;
  svg > *{ opacity: 0 }
  .cls-2 {opacity: 1  }
  &:before{
    transition: none;
    transform: translateY(-300px);
    opacity: 0!important}
}

.on-page {
  color: $black;
}
