// main:../style.scss
header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50pt;
  color: $white;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  background-color: $green;
  box-shadow: 0 -1px 10px -5px $black;
  z-index: 999;
  line-height: normal;
  @include min800 {
    top: 0;
    background-color: inherit;
    color: $green;
    font-size: 1rem;
    height: $logoDia / 2;
    [class*="entypo-"] {display: none;}
  }
  .nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    div, a {
      margin: 0 10px;
    }
    a {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      @include min800 {
        margin: 0 20px;
      }
      &:hover, &:active {
        color: $lt-grey;
      }
      span {
        margin-top: 10px;
      }
    }
  }
  div, ul {
    display: flex;
    li {
      margin-left: 20px;
    }
  }
}

.logo {
  display: none;
  height: $logoDia;
  width: $logoDia;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: flex-start;
  background-color: $white;
  z-index: 999;
  svg {
    width: 100%;
  }
  @include min800 {
    display: inherit;
  }
}
