// main:../style.scss

.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: $green;
  text-transform: uppercase;
  @include min800 {
    margin-top: $logoDia + 50px;
  }
  p {
    text-transform: none;
  }
  &-title {
    margin-bottom: 20px;
  }
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-item {
  @include size(100%, auto);
  display: grid;
  grid-template-rows: 200px 40px;
  cursor: pointer;
  img, h3 {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}

.description {
  display: none;
}

.highlight {
  // box-shadow: 0 5px 10px black;
}

.show {
  display: inherit;
}
