// main:../style.scss

.products {
  // margin         : auto;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  flex-direction : column;
  justify-content: space-between;
  align-self: center;
  flex-grow: 1;
  margin-bottom: 60pt;
  padding: 20px 0;

  @include min800 {
    width          : 100%;
    flex-direction : row;
    margin-top     : $logoDia / 2;
    margin-bottom: inherit;
    justify-content: center;
  }
  .svg-microgreens { background-image: url("../svg/microgreens.svg"); }
  .svg-flowers     { background-image: url("../svg/flores.svg"); }
  .svg-veggy       { background-image: url("../svg/vegetables.svg"); }

  [class*="svg-"] {
    margin         : 10px;
    display        : flex;
    flex-shrink    : 0;
    align-items    : center;
    border-radius  : 50%;
    justify-content: center;
    background-size: cover;
    @include size    (250px, 250px);
    @include transition(background-color);
    &:hover, &:active {
      background-color: $green40;
    }
    @include min800 {
      @include size  (calc((80vw - 60px)/3), calc((80vw - 60px)/3));
    }

    h2 {
      color  : $green;
      margin : 0 -5px;
      padding: 20px 0;
      width  : calc(100% + 10px);
      text-align      : center;
      font-weight     : bold;
      text-transform  : uppercase;
      background-color: $white;
    }
  }
}
