// main:../style.scss

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  @include min800 {
    flex-direction: row;
    height: $altProductHeight;
    width: 100%;
    justify-content: space-between;
    margin-top: $logoDia / 2;
    margin-bottom: 0;
    // background-color: red;
  }
  .svg-microgreens {
    background-image: url("../svg/microgreens.svg");
  }
  .svg-flowers {
    background-image: url("../svg/flores.svg");
  }
  .svg-veggy {
    background-image: url("../svg/vegetables.svg");
  }
  [class*="svg-"] {
    margin: 10px;
    @include width(250px)
    @include height(250px)
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    &:hover, &:active {
      background-color: $green40;
    }
    @include min800 {
      @include width($w: calc((80vw - 60px)/3))
      @include height($h: calc((80vw - 60px)/3))
    }
    h2 {
      width: calc(100% + 10px);
      text-transform: uppercase;
      background-color: $white;
      text-align: center;
      padding: 20px 0;
      margin: 0 -5px;
      color: $green;
      font-weight: bold;
      z-index: 99;
    }
  }
}
