// main:../style.scss

.products {
  // margin         : auto;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  flex-direction : column;
  justify-content: space-between;
  align-self: center;
  flex-grow: 1;
  margin-bottom: 60pt;
  padding: 20px 0;


  @include min800 {
    width          : 100%;
    flex-direction : row;
    margin-bottom: 0;
    justify-content: center;
  }


  .svg-microgreens { background-image: url("../svg/microgreens.svg"); }
  .svg-flowers     { background-image: url("../svg/flores.svg"); }
  .svg-veggy       { background-image: url("../svg/vegetables.svg"); }

  [class*="svg-"] {
    margin         : 0px;
    display        : flex;
    flex-shrink    : 0;
    align-items    : center;
    border-radius  : 50%;
    background-color: white;
    justify-content: center;
    overflow: hidden;
    background-size: cover;

    @include size    (250px, 250px);
    @include transition(background-size);
    @include min800 {
      @include size  (calc((70vw - 60px)/3), calc((70vw - 60px)/3));
      max-width: 350px;
      max-height: 350px;
    }

    h2 {
      color: $green;
      margin : 0 -5px;
      padding: 20px 0;
      width  : calc(100% + 0px);
      text-align      : center;
      font-weight     : bold;
      text-transform  : uppercase;
      background-color: $white;
    }
  }
}


.border{
  padding: 3px;
  border-radius  : 50%;
  margin: 15px;
  background  : linear-gradient(to right, $green, $yellow);
  overflow: hidden;
}


[class*="svg-"]:hover{
  cursor: pointer;
  h2 {
    background  : linear-gradient(to right, $green, $yellow);
    color: $white;
  }
}
