// main:../style.scss

// microgreens
.svg-microgreens {
  svg {
    .cls-1,
    .cls-3,
    .cls-4 {
      fill: none;
    }
    .cls-2 {
      fill: $grey;
    }
    .cls-3 {
      stroke: $grey;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0;
    }
    .cls-4 {
      stroke-miterlimit: 10;
      stroke: url("#linear-gradient");
    }
  }
}

// vegetales
.svg-veggy {
  svg {
    .cls-1,
    .cls-3,
    .cls-4 {
      fill: none;
    }
    .cls-2 {
      fill: $grey;
    }
    .cls-3 {
      stroke: $grey;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0;
    }
    .cls-4 {
      stroke-miterlimit: 10;
      stroke: url("#linear-gradient");
    }
  }
}

// flowers
.svg-flowers {
  svg {
    .cls-1,
    .cls-3,
    .cls-4 {
      fill: none;
    }
    .cls-2 {
      fill: $grey;
    }
    .cls-3 {
      stroke: $grey;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0;
    }
    .cls-4 {
      stroke-miterlimit: 10;
      stroke: url("#linear-gradient");
    }
  }
}
